.footer {
  width: 100%;
  background: linear-gradient(to right, #3b3b3b, #1d1d1d);
  display: block;
  flex-direction: column;
  align-items: center;
  color: rgb(235, 197, 197);
}
.footer_main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2%;
}
.info_block {
  display: flex;
  flex-direction: column;
  color: rgb(235, 212, 212);
}
.footer_bottom {
  display: flex;
  justify-content: center;
}
