.search {
  height: 500px;
  position: relative;
  background-image: url(../../MyWeb/public/img/banner_01.jpg);
}
.search_bar {
  @extend %Center;
  flex-direction: row;
  width: 50%;
  height: 100px;
  display: flex;
  position: absolute;
  bottom: 15%;
  left: 25%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.2),
    10px 0 10px 1px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2),
    0 -10px 10px 1px rgba(0, 0, 0, 0.2);
  form {
    width: 70%;
    @extend %Center;
    input {
      width: 50%;
      height: 50px;
      margin-right: 20px;
      border-radius: 10px;
    }
    button {
      height: 50px;
      background-color: rgba(255, 255, 255, 0.667);
    }
  }
}
