.search_bar form, .search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
html body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Kalam", cursive;
}

nav {
  background-color: #b4524f;
  border: 1px solid #b4524f;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}
nav ul li {
  list-style-type: none;
  padding: 0.5rem 1rem;
}
nav ul li a {
  font-size: 1.5rem;
  color: white;
}

.footer {
  width: 100%;
  background: linear-gradient(to right, #3b3b3b, #1d1d1d);
  display: block;
  flex-direction: column;
  align-items: center;
  color: rgb(235, 197, 197);
}

.footer_main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2%;
}

.info_block {
  display: flex;
  flex-direction: column;
  color: rgb(235, 212, 212);
}

.footer_bottom {
  display: flex;
  justify-content: center;
}

.search {
  height: 500px;
  position: relative;
  background-color: aquamarine;
}

.search_bar {
  flex-direction: row;
  width: 50%;
  height: 100px;
  display: flex;
  position: absolute;
  bottom: 15%;
  left: 25%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.2), 10px 0 10px 1px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2), 0 -10px 10px 1px rgba(0, 0, 0, 0.2);
}
.search_bar form {
  width: 70%;
}
.search_bar form input {
  width: 50%;
  height: 50px;
  margin-right: 20px;
  border-radius: 10px;
}
.search_bar form button {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.667);
}

.options {
  display: flex;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: rgba(241, 151, 99, 0.6117647059);
}
.options .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.options .container .title {
  display: inline;
  justify-content: flex-start;
  width: 100%;
}
.options .container .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.options .container .content button {
  width: 100%;
  height: 200px;
  border-radius: 5%;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: -10px 0 10px 1px rgba(0, 0, 0, 0.2), 10px 0 10px 1px rgba(0, 0, 0, 0.2), 0 10px 10px 1px rgba(0, 0, 0, 0.2), 0 -10px 10px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}
.options .container .content button p {
  color: rgb(255, 255, 255);
  font-size: 48px;
}
.options .container .content button:hover {
  box-shadow: -5px 0 5px 1px rgba(0, 0, 0, 0.2), inset 5px 0 5px 1px rgba(0, 0, 0, 0.2), inset 0 5px 5px 1px rgba(0, 0, 0, 0.2), inset 0 -5px 5px 1px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=style.css.map */