* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Alata", sans-serif;
    background-image: url("/src/images/sky.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.blank {
  height: 400px;
}

@import "./nav";
@import "./footer";
@import "./search";
@import "./weather";
